@font-face {
  font-family: 'Poppins';
  src: url("../font/poppins/Poppins-Regular.otf") format('truetype');
}
@font-face {
  font-family: 'iconos';
  src: url("../font/iconos/icomoon.eot?lmozq2");
  src: url("../font/iconos/icomoon.eot?lmozq2#iefix") format('embedded-opentype'), url("../font/iconos/icomoon.ttf?lmozq2") format('truetype'), url("../font/iconos/icomoon.woff?lmozq2") format('woff'), url("../font/iconos/icomoon.svg?lmozq2#icomoon") format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
* {
  font-family: 'Poppins';
}
header {
  background-color: #1b6918;
}
header .barra .logo {
  margin-top: 50px;
  margin-left: 300px;
  margin-right: 30px;
  position: relative;
  top: -5px;
  width: 200px;
  display: inline-block;
}
header .barra .lista {
  position: relative;
  top: -20px;
  display: inline-block;
  margin-left: 0px;
}
header .barra .lista li {
  list-style: none;
  display: inline-block;
  margin-right: 30px;
}
header .barra .lista li a {
  text-decoration: none;
  color: #fefefe;
  font-size: 12px;
}
header .barra .lista li a .casa:before {
  font-family: 'iconos';
  content: "\e902";
  margin-right: 3px;
}
header .barra .lista li a .carpeta:before {
  font-family: 'iconos';
  content: "\e901";
  margin-right: 3px;
}
header .barra .lista li a .lupa:before {
  font-family: 'iconos';
  content: '\e986';
  border-radius: 15px;
  background-color: #fefefe;
  padding: 8px;
  color: #1b6918;
}
header .barra .lista li:nth-last-child(2) {
  margin-right: 200px;
}
.opciones ul {
  margin-left: 265px;
  margin-bottom: 80px;
}
.opciones ul li {
  list-style: none;
  display: inline-block;
  margin-right: 30px;
}
.opciones ul li a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 11px;
  color: #4d4d4d;
}
.opciones ul li a .discord:before {
  font-family: 'iconos';
  content: "\e903";
  margin-right: 3px;
}
.opciones ul li a .opciones:before {
  font-family: 'iconos';
  content: "\e995";
  margin-right: 3px;
}
.mangas .barra h2 {
  position: relative;
  top: -5px;
  margin-bottom: 0px;
  margin-left: 300px;
  color: #363636;
}
.mangas .barra .linea {
  margin-top: 0px;
  margin-bottom: 40px;
  width: 930px;
  margin-left: 300px;
}
.mangas .barra .anuncio .rayo:before {
  font-family: 'iconos';
  content: "\e900";
  margin-right: 3px;
  border: 1px solid #1b6918;
  background-color: #1b6918;
  color: #fefefe;
  font-size: 15px;
  padding: 10px 10px;
  margin-right: 0px;
}
.mangas .barra .anuncio .rayo:after {
  position: relative;
  left: -12px;
  top: 8px;
  font-size: 38px;
  content: '>';
  color: #1b6918;
  margin-left: 0px;
}
.mangas .tarjetas .row1 {
  margin-left: 300px;
}
.mangas .tarjetas .row2 {
  margin-left: 150px;
}
.mangas .tarjetas .linea {
  margin-top: 0px;
  margin-bottom: 40px;
  width: 930px;
  margin-left: 300px;
}
.mangas .tarjetas .row1,
.mangas .tarjetas .row2 {
  width: 400px;
  display: inline-block;
}
.mangas .tarjetas .row1 img,
.mangas .tarjetas .row2 img {
  width: 150px;
  display: inline-block;
}
.mangas .tarjetas .row1 .cuadrar,
.mangas .tarjetas .row2 .cuadrar {
  display: inline-block;
  margin-top: 20px;
  position: relative;
  top: -80px;
  left: -20px;
}
.mangas .tarjetas .row1 .cuadrar li,
.mangas .tarjetas .row2 .cuadrar li {
  list-style: none;
  margin-bottom: 10px;
}
.mangas .tarjetas .row1 .cuadrar li h6,
.mangas .tarjetas .row2 .cuadrar li h6 {
  font-size: 16px;
  margin-bottom: 10px;
}
.mangas .tarjetas .row1 .cuadrar li .estrellas,
.mangas .tarjetas .row2 .cuadrar li .estrellas {
  margin-left: 0px;
  padding-left: 0px;
  margin-bottom: 10px;
}
.mangas .tarjetas .row1 .cuadrar li .estrellas li,
.mangas .tarjetas .row2 .cuadrar li .estrellas li {
  list-style: none;
  display: inline-block;
}
.mangas .tarjetas .row1 .cuadrar li a,
.mangas .tarjetas .row2 .cuadrar li a {
  text-decoration: none;
  color: #363636;
}
.mangas .tarjetas .row1 .cuadrar li a .estrella,
.mangas .tarjetas .row2 .cuadrar li a .estrella {
  margin-left: 5px;
}
.mangas .tarjetas .row1 .cuadrar li a .estrella:before,
.mangas .tarjetas .row2 .cuadrar li a .estrella:before {
  font-family: 'iconos';
  content: "\e9d9";
  color: #1b6918;
}
.mangas .tarjetas .row1 .cuadrar li a .estrella-vacia:before,
.mangas .tarjetas .row2 .cuadrar li a .estrella-vacia:before {
  font-family: 'iconos';
  content: '\e9d7';
  color: #1b6918;
}
.mangas .tarjetas .row1 .cuadrar li a .estrella-media:before,
.mangas .tarjetas .row2 .cuadrar li a .estrella-media:before {
  font-family: 'iconos';
  content: '\e9d8';
  color: #1b6918;
}
.mangas .tarjetas .row1 .fuera,
.mangas .tarjetas .row2 .fuera,
.mangas .tarjetas .row1 .fueraf,
.mangas .tarjetas .row2 .fueraf {
  display: inline-block;
}
.mangas .tarjetas .row1 .fuera .new,
.mangas .tarjetas .row2 .fuera .new,
.mangas .tarjetas .row1 .fueraf .new,
.mangas .tarjetas .row2 .fueraf .new {
  font-size: 10px;
  border: 1px solid #bb2824;
  background-color: #bb2824;
  color: #fefefe;
  text-transform: uppercase;
  margin-left: 8px;
}
.mangas .tarjetas .row1 .fuera .fecha,
.mangas .tarjetas .row2 .fuera .fecha,
.mangas .tarjetas .row1 .fueraf .fecha,
.mangas .tarjetas .row2 .fueraf .fecha {
  font-size: 10px;
  color: #b4b4b4;
  margin-left: 8px;
}
.mangas .tarjetas .row1 .fuera button,
.mangas .tarjetas .row2 .fuera button,
.mangas .tarjetas .row1 .fueraf button,
.mangas .tarjetas .row2 .fueraf button {
  font-size: 10px;
  background-color: #a09f9f;
  color: #ece5e5;
  border-radius: 30px;
}
.mangas .tarjetas .row1 .fueraf,
.mangas .tarjetas .row2 .fueraf {
  margin-bottom: 160px;
}
footer {
  margin-top: 50px;
}
footer ul {
  margin-left: 500px;
}
footer ul li {
  list-style: none;
  display: inline-block;
  text-align: center;
  margin-right: 10px;
}
footer ul li a {
  font-size: 14px;
  font-weight: bold;
  color: #4d4d4d;
  text-decoration: none;
}
footer ul li span {
  margin-left: 10px;
}
footer p {
  text-align: center;
  margin-top: 15px;
  color: #bfbfbf;
  font-size: 12px;
}
